__pycache__/
Graph/prompt_generation_progress.json
Graph/llm_log_problem.txt
Graph/llm_log_problem.csv
Graph/llm_log_structure.txt
Graph/llm_log_structure.csv
Graph/.venv
Graph/I have a plan/
Graph/progress_structure.json
Graph/progress_problem.json
